/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
@import url('/chogori-css/application-dark.css');

* {
    -fx-my-black: rgb(50, 50, 50);
    -fx-my-grey: grey;
    -fx-my-menu-color: rgb(50, 50, 50);                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #455a64;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */

    /*Цвет ПИК*/
    -fx-pik-blue: #4169e1;

    /*Заголовок вкладки*/
    -fx-patch-header: lightgrey;
    -fx-patch-header-text: black;
    -fx-patch-header-button-hover: darkgrey;
    /*Заголовок таблицы*/
    -fx-table-header: grey;
    -fx-table-header-text: white;

    -fx-selector-tint: #28a3f4;

    -fx-patchbutton-height: 20;
    -fx-patchbutton-width: 30;
}

.root
{
    /*-fx-background-repeat: repeat;*/
    -fx-background-color: -fx-my-black;
    -fx-text-fill: white;
    -fx-text-weight: bold;
    -fx-font-family: "Calibri";
    -fx-font-size: 14;

}

.label {
    -fx-text-fill: #fffffc;
}

#lblDraftInfo{
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-text-fill: #0000ff;
}

/* ################    Фон задника  #########################################*/
#rootPanel{
    /*-fx-background-color: oldlace;*/
    -fx-background-image: url("/chogori-pics/tubus_wall.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 2560 1440;
    -fx-background-position: center center;

}

.loginPane{
    -fx-background-image: url("/chogori-pics/tubus_wall_dark.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 2560 1440;
    -fx-background-position: center center;
}

/* ################    ПАНЕЛЬ О ПРОГРАММЕ  #########################################*/
#about_pane{
    -fx-border-width: 2px;
    -fx-border-color: gray;
}
/*#############   ПАНЕЛЬ РАЗРЕШЕНИЙ КАК БОКОВАЯ ПАНЕЛЬ  ###########################################################*/

#vbPermissions{
    -fx-background-color: -fx-patch-header;
}
/*###########  МОДАЛЬНОЕ ОКНО РАЗРЕШЕНИЙ    ##################################*/
#modal_pane_permissions >.check-box .text{
    -fx-fill: FFFFFC;
}
/*#############    ДИВАЙДЕРЫ  #############################*/
.split-pane:horizontal >.split-pane-divider{
    -fx-background-color: -fx-my-black;
    -fx-padding: 0 0.01em 0 0.01em;
}
.split-pane:vertical >.split-pane-divider{
    -fx-background-color: -fx-my-black;
    -fx-padding: 0 0.01em 0 0.01em;
}
/*#############    ЧЕКБОКСЫ  #############################*/

.check-box .text{
    -fx-fill: #000001; /*работает только так!*/
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

>.check-box:selected .box {
    -fx-background-color: -fx-selector-tint;
}

/*#############   ГЛАВНОЕ МЕНЮ   #########################   */

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {

    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-size: 16px;

}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

.menu-item .check-box .text{
    -fx-fill: #FFFFFC;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-size: 16px;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/*############################ CONTEXT MENU #########################################*/
/*** The context menu that contains a menu's menu common ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.tree-table-row-cell .tree-disclosure-node .arrow {
    -fx-padding: -10;
}

.tree-table-row-cell:expanded .tree-disclosure-node .arrow  {
    -fx-padding: -10;
}
.tree-table-cell:default{
    -fx-border-color: black;
    -fx-border-style: solid;
}

.radio-button{
    -fx-text-fill: white;
}



#settings_window .tab-pane:top .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: gray;
}

#settings_window .tab-pane{
    -fx-tab-min-width:90px;
    -fx-border-width: 0 2 0 2;
    -fx-border-color: gray;
}

#settings_window .tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
/*#settings_window .tab-pane .tab {*/
/*    -fx-background-color: #d3d3d3;*/
/*}*/

#settings_window .tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

#settings_window .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#settings_window .tab-pane .tab:selected{
    -fx-background-color: -fx-my-black;
    -fx-text-fill: white;
}

#settings_window .check-box .text{
    -fx-fill: #FFFFFC; /*работает только так!*/
}

#settings_window .separator .line{
    -fx-border-width: 2 0 0 0 ;
    -fx-border-color: gray;
}

/*##################  ПАНЕЛЬ ЗАГОЛОВОК  ПАТЧА  ##############################################################*/

/*!* Кнопки меню с выпадающим списком Фильтры, столбцы, обращение по ID *!*/

#menu-button-no-arrow > .arrow-button,  #menu-button-no-arrow > .arrow-button > .arrow{
    -fx-padding: 0;
}

/*#menu-button-no-arrow > .arrow-button > .arrow {*/
/*    -fx-padding: 0;*/
/*}*/

/* Кнопки */
#patchButton, #menu-button-no-arrow{
    -fx-min-width: -fx-patchbutton-width;
    -fx-max-width: -fx-patchbutton-width;
    -fx-pref-width: -fx-patchbutton-width;

    -fx-min-height: -fx-patchbutton-height;
    -fx-max-height: -fx-patchbutton-height;
    -fx-pref-height: -fx-patchbutton-height;

    -fx-background-color: -fx-patch-header;
}

#patchButton:hover, #menu-button-no-arrow:hover, #patchButton:pressed, #menu-button-no-arrow:pressed{
    -fx-background-color: -fx-patch-header-button-hover;
}

#patchHeader{
    -fx-background-color: -fx-patch-header;
    -fx-text-fill: -fx-patch-header-text;
    -fx-border-style: solid;
    -fx-border-width: 0  0 1px 0;
}

#patchHeader > .label{
    -fx-background-color: -fx-patch-header;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#patchHeader > .button .label{
    -fx-background-color: -fx-patch-header;
}

/*#####################  TAB PANE ###############################################*/

.tab-pane .tab-header-background
{
    -fx-opacity: 0.0;
}

.tab {
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-font-size: 110%;
}

/*#############################  ПАНЕЛЬ ВВОДА ПАРОЛЯ ############################################*/

/*Применяется, так как пр смене пользователя загружен другой фон*/
#apLogin {
    -fx-background-color: -fx-my-black;
}

/**############################  ПАНЕЛЬ С ПРОГРЕСС ИНДИКАТОРОМ   ######################################*/
#spIndicator{
    -fx-background-color: -fx-my-black;
}

/*#############################   ТАБЛИЦЫ  ###############################################################*/

.table-view .column-header-background{
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: -fx-table-header;
    -fx-background-insets: 0 0.01em 0 0.1em;
}

.table-view .column-header-background .label{
    -fx-background-color: -fx-table-header;
    -fx-text-fill: -fx-table-header-text;
}

.table-view .column-header-background .filler{
    -fx-background-color: -fx-table-header;
    -fx-fill-width: 15px;
}

.tree-table-view .column-header-background .label{
    -fx-background-color: -fx-my-menu-color-highlighted;
    -fx-text-fill: white;
}

.table-view, .tree-table-view, .tree-view{
    -fx-font-family: "Calibri";
    -fx-font-size: 16px;
}

.tree-view-row-cell:selected{
    -fx-background-color: #28a3f4;
}

.table-row-cell:selected, .tree-view-row-cell:selected{
    -fx-background-color: #28a3f4;
}

#excelViewer .table-cell{
    -fx-border-color: #f0f0f0;
}

#excelViewer .table-cell:empty{
    -fx-border-color: white;
    -fx-background-color:white;
}

#excelViewer .table-row-cell:selected{
    -fx-table-cell-border-color: #f0f0f0;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1 0 1 0 ;
    -fx-border-color: royalblue;
}


#apInfo .text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, -fx-my-black, transparent, -fx-my-black;
}

#apInfo .text-area .content {
    -fx-background-color: transparent, -fx-my-black, transparent, -fx-my-black;
}

#apInfo .text-area:focused .content {
    -fx-background-color: transparent, -fx-my-black, transparent, -fx-my-black;
}

#apInfo .text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

#apInfo .text-area .content {
    -fx-text-fill: white;
    /*-fx-highlight-fill: #7ecfff;*/
}

/*==============      blobTextArea    =========================================*/

#blobTextArea {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

#blobTextArea .content {
    -fx-background-color: transparent, white, transparent, white;
}

#blobTextArea:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

#blobTextArea:focused {
    -fx-highlight-fill: #7ecfff;
}

#blobTextArea .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

/*убираем скрол*/
#blobTextArea .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

/*##########  long process ##################################################################################*/
#wait_a_minute{
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #6d6b6b;
}



/*##########  awaiting ##################################################################################*/

#awaiting {
    -fx-background-color: lightgrey;
}
/*##########  wait_a_minute ##################################################################################*/
#wait_a_minute, #long_process{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px ;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-background-color: #6d6b6b;
}

#wait_a_minute .progress-indicator .spinner .segment0{
    -fx-background-color: #fafafa;
}

#wait_a_minute .progress-indicator .spinner .segment1{
    -fx-background-color: #f0f0f0;
}

#wait_a_minute .progress-indicator .spinner .segment2{
    -fx-background-color: #e6e6e6;
}

#wait_a_minute .progress-indicator .spinner .segment3{
    -fx-background-color: #dcdcdc;
}

#wait_a_minute .progress-indicator .spinner .segment4{
    -fx-background-color: #d2d2d2;
}

#wait_a_minute .progress-indicator .spinner .segment5{
    -fx-background-color: #c8c8c8;
}

#wait_a_minute .progress-indicator .spinner .segment6{
    -fx-background-color: #bebebe;
}

#wait_a_minute .progress-indicator .spinner .segment7{
    -fx-background-color: #b4b4b4;
}

#wait_a_minute .progress-indicator .spinner .segment8{
    -fx-background-color: #aaaaaa;
}

#wait_a_minute .progress-indicator .spinner .segment9{
    -fx-background-color: #a0a0a0;
}

#wait_a_minute .progress-indicator .spinner .segment10{
    -fx-background-color: #969696;
}

#wait_a_minute .progress-indicator .spinner .segment11{
    -fx-background-color: #8c8c8c;
}

/*====================      listViewWithMessages  ===============================*/
/*Каждая позиция в чате, чтобы убрать черезполосицу*/
#listViewWithMessages .list-cell {
    -fx-background-color: white;
    -fx-padding: 0 0 0 0; /* Уменьшает отступы между ячейками */
}

/*Выделенная позиция в чате*/
#listViewWithMessages .list-cell:selected:focused{
    -fx-background-color: #ded6b5;
}

/*Заголовок сообщения*/
#messageTitleLabel{
    -fx-font-style: oblique;
    -fx-text-fill: darkred;
    -fx-padding: 3;
}

/*Текст сообщения*/
#outMessageVBox .label, #inMessageVBox .label{
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-padding: 2px;
}
/*Время сообщения*/
#messageTimeLabel{
    -fx-font-size: 10;
    -fx-font-style: oblique;
    -fx-text-fill: black;
    -fx-alignment: top-right;
    -fx-end-margin: 5;
    -fx-opacity: 0.3;
    -fx-padding: 2px;
}

/*==================   ИСХОДЯЩИЕ СООБЩЕНИЯ  =================================================*/
/*Данные исходящего сообщения (Автор, дата)*/
#outMessageDataLabel{
    -fx-padding: 0 5 0 0;
    -fx-font-style: oblique;
    -fx-text-fill: royalblue;
    -fx-alignment: top-right;
    -fx-text-alignment: right;
}
/*Фон исходящего сообщения (Заголовок, Сообщение, Дата)*/
#outOutlineMessageVBox{
    -fx-background-color: #edf8eb;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

/*==================   ВХОДЯЩИЕ СООБЩЕНИЯ  =================================================*/

/*Данные входящего сообщения (Автор, дата)*/
#inMessageDataLabel{
    -fx-padding: 0 5 0 0;
    -fx-font-style: oblique;
    -fx-text-fill: #4169e1;
    -fx-alignment: top-left;
    -fx-text-alignment: left;
}
/*Фон входящего сообщения (Заголовок, Сообщение, Дата)*/
#inOutlineMessageVBox{
    -fx-background-color: #f6ebf8;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

/*Стиль карточки со ссылкой на чертеж, комплект чертежей и тд*/
#draftInChat{
    -fx-background-color: #f8f5eb;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-border-color: royalblue;
    -fx-padding: 0 5 0 5;
}


/*===========   Индикатор мыслительной деятельности   ТОНЕНЬКИЙ  ===========================================*/
/*.progress-bar > .bar {*/
/*    -fx-background-insets: 1 1 2 1;*/
/*    -fx-padding: 0.20em;*/
/*}*/

/*=================      КАЛЬКУЛЯТОР ================================*/

#calculator{
    -fx-background-color: #f8f5eb;
}
#calculator .label{
    -fx-text-fill: black;
}

#calculator .list-view{
    -fx-background-color: #f8f5eb;
    -fx-background: #f8f5eb;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #e2dfdf;
}

#calculator .list-view .list-cell{
    -fx-background-color: #f8f5eb;
    -fx-text-fill: black;
}

#calculator .list-view .list-cell:selected{
    -fx-background-color: #f8edc8;
    -fx-text-fill: black;
}

#calculator .list-view .list-cell:hover{
    -fx-text-fill: royalblue;
}

#calculator .context-menu{
    -fx-background-color: #ebf6f8;
}

#calculator .menu-item{
    -fx-background-color: #ebf6f8;
}

#calculator .menu-item:hover{
    -fx-background-color: #b7d2d7;
}

.btnOnMenuPane {
    -fx-background-color: -fx-my-black;
}

.btnOnMenuPane:hover{
    -fx-background-color: -fx-my-grey;
}

#rbAutopilot:selected{
    -fx-background-color: #FF5555;
}

#tfDraftInfo{
    -fx-background-color: lightgrey;
}



